[theme="one-light"] {
  --black: #000000;
  --red: #DA3E39;
  --green: #41933E;
  --yellow: #855504;
  --blue: #315EEE;
  --purple: #930092;
  --cyan: #0E6FAD;
  --white: #8E8F96;
  --brightBlack: #2A2B32;
  --brightRed: #DA3E39;
  --brightGreen: #41933E;
  --brightYellow: #855504;
  --brightBlue: #315EEE;
  --brightPurple: #930092;
  --brightCyan: #0E6FAD;
  --brightWhite: #FFFEFE;
  --foreground: #2A2B32;
  --background: #F8F8F8;
  --cursorColor: #2A2B32;
}